.icon-box {
  h3{
    margin: 0 0 25px 0;
    font-weight: bold;
  }
  h4{
    margin: 0 0 15px 0;
  }
  li {
    padding: 0 20px 40px 20px;
    text-align: center;
    list-style: none;

    &:last-child{
      padding-bottom: 0 !important;
    }
    .icon,
    img{
      display: inline-block;
      font-size: 64px;
      color: $primary;
      margin: 0 0 20px 0;
    }
  }
}

.icon-box-border-right{
  div{
    border-right: 1px solid #dddddd;
    &:last-child{
      border: none;
    }
  }  
}
